.Nav{
  position: relative;
}

.Nav ul{
  display: flex;
  list-style: none;
  margin: 0;
}

.Nav ul li{
  color: #2b3a36;
  margin: 0;
  padding: 8px;
  
}

.Nav ul li a{
  color: #17cb9b;
  margin: 0;
  padding: 8px;
  
}

.Nav ul li a:hover{
  color: #13735a;
  text-decoration: underline;
  margin: 0;
  padding: 8px;
  
}

